<link rel="stylesheet" href="/styles/style.css">

<header>
    <img src="logo-social.png">
    <nav>
        <p> <a href="/">Дома</a></p>
        <p> <a href="/invoices">Фактури</a></p>
        <p><a href="/contact">Контакт</a></p>
    </nav>
</header>