<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<%- include('includes/header') %>

<body>
    <h1>Contact page</h1>
    <h3>Phone number: 02 200 3000</h3>
    <h3>Contact email: email@email.com</h3>
</body>
</html>