<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>THe served site</title>
</head>
<body>
  
    <%- include('includes/header') %>

    <h1>Внесени фактури:</h1>
    <section>
        <% for (const invoice of invoices) { %>
            <%- include('includes/invoices/invoice-item', {invoice: invoice}) %>
        <% } %>    
        <hr>
    </section>
<section>

    <form method="POST" action="delete-invoice">
        <button>Избриши последна фактура</button>
    </form>

    <h1>Вкупен фактуриран износ е <%=invoiceSum%>,00 денари.</h1>
</section>
</body>
</html>

